.notification_list {
    list-style: none;
    margin-bottom: 0px;
    padding: 5px;
}

.notification_list li {
    clear: both;
    padding: 0 !important; margin: 0 0 2px; border: 0;
    overflow: hidden;
    text-align: center;
}

.notification_list li .inner {
    padding: 1px 4px;
    border: 1px solid red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}